<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings/<%= data.id %>?_method=PUT" method="POST">

                <div class="mb-3">
                    <label for="title" class="mt-3 form-label">New Title</label>
                    <input class="form-control" type="text" name="title" value="<%= data.title %>" placeholder="Enter new title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">New Description</label>
                    <textarea class="form-control" name="description" placeholder="Enter new description"><%= data.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">New Image URL</label>
                    <input class="form-control" type="text" name="image" value="<%= data.image %>" placeholder="Enter new image URL">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">New Price (per night)</label>
                        <input class="form-control" type="number" name="price" value="<%= data.price %>" placeholder="Enter new price">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">New Country</label>
                        <input class="form-control" type="text" name="country" value="<%= data.country %>" placeholder="Enter new country">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">New Location</label>
                    <input class="form-control" type="text" name="location" value="<%= data.location %>" placeholder="Enter new location">
                </div>
                <button type="submit" class="mb-3 btn btn-dark add-btn">Save</button>

            </form>
        </div>
    </div>
</body>
